@{
    ViewData["Title"] = "Pedidos";
}

@section Head {
    <link
        href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
        rel="stylesheet"
    />
}

<div class="card">
    <div class="card-header">
        Pedidos
    </div>
    <div class="card-body">
        <div>
            <label class="form-label">Nombre Completo</label>
            <input class="form-control form-control-sm" type="text" id="nombre-completo-cliente" />
        </div>
        <div>
            <label class="form-label">Correo</label>
            <input class="form-control form-control-sm" type="email" id="correo-cliente" />
        </div>
        <div>
            <label class="form-label">País</label>
            <select asp-items="ViewBag.Countries" style="width: 100%" id="pais-cliente" placeholder="Selecciona un país"></select>
        </div>
        <hr />
        <div class="row align-items-end">
            <div class="col-sm-3">
                <label class="form-label">Prenda</label>
                <input class="form-control form-control-sm" type="text" id="desc-prenda" />
            </div>
            <div class="col-sm-3">
                <label class="form-label">Descripción detallada</label>
                <input class="form-control form-control-sm" type="text" id="desc-detallada-prenda" />
            </div>
            <div class="col-sm-3">
                <label class="form-label">Cantidad</label>
                <input class="form-control form-control-sm" type="number" step="1" id="cantidad-prenda" />
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success btn-sm" id="btn-agregar">Agregar</button>
                <button class="btn btn-primary btn-sm" id="btn-finalizar">Finalizar</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-sm" id="tabla-pedido">
                    <thead>
                        <tr class="table-dark">
                            <th>Prenda</th>
                            <th>Descripción detallada</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('select').select2();

        $("#btn-agregar").on("click", () => {
            $("#tabla-pedido").append(
                $("<tr>").append(
                    $("<td>").text($("#desc-prenda").val()),
                    $("<td>").text($("#desc-detallada-prenda").val()),
                    $("<td>").text($("#cantidad-prenda").val())
                )
            );

            $("#desc-prenda").val("");
            $("#desc-detallada-prenda").val("");
            $("#cantidad-prenda").val("");
            $("#desc-prenda").focus();
        });

        $("#btn-finalizar").on("click", () => {
            let oDetalle_Form_Pedido = [];

            $("#tabla-pedido > tbody > tr").each((i, tr) => {
                oDetalle_Form_Pedido.push({
                    DescPrenda: $(tr).find("td:eq(0)").text(),
                    DetallesPrenda: $(tr).find("td:eq(1)").text(),
                    CantidadPrenda: $(tr).find("td:eq(2)").text()
                });
            });

            let fecha = new Date().toDateString();

            let oFormPedidoVM = {
                oFormPedido: {
                    NombreCompletoCliente: $("#nombre-completo-cliente").val(),
                    CorreoCliente: $("#correo-cliente").val(),
                    PaisCliente: $("#pais-cliente").val(),
                    Fecha: fecha
                },
                oDetalleFormPedido: oDetalle_Form_Pedido
            };

            console.log(oFormPedidoVM);

            jQuery.ajax({
                url: "@Url.Action("Create", "FormPedidosVM")",
                type: "POST",
                data: JSON.stringify(oFormPedidoVM),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    alert("Pedido enviado");
                    console.log(data);
                    if (data.respuesta) {
                        alert("Pedido creado");
                    }
                },
            });
        });
    </script>
}