@model MakiYumpuSAC.Models.Material

@{
    ViewData["Title"] = "Crear Material";
}

<h4>Nuevo Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMaterialBase" class="control-label">Material Base</label>
                <select asp-for="IdMaterialBase" class ="form-control" asp-items="ViewBag.CodigoMaterialBase"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPantone" class="control-label">ID Pantone</label>
                <input asp-for="IdPantone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Hebras" class="control-label"></label>
                <select asp-for="Hebras" class="form-control" asp-items="ViewBag.Hebras"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="module">
        import toastMessage from '/js/toastMessage.js';

        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "@ViewBag.ErrorMessage";

            if (errorMessage) {
                toastMessage(errorMessage);
            }
        });
    </script>
}