@{
    Layout = "/Views/Shared/_LayoutClientes.cshtml";
    ViewData["Title"] = "Colección";
}

@section Head {
    <link rel="stylesheet" href="~/css/Home/Coleccion.css"/>
}

<!-- Coleccion Clientes -->
<a id="coleccion"></a>

<!--Detalles de Productos-->
<section class="producto">
    <div class="contenedor-info">
        <div class="contenedor-img">
            <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="img-producto">
        </div>
        <div class="info-producto">
            <h1 class="nombre-producto">Chompa</h1>
            <label class="detalle">Talla: M</label>
            <label class="detalle">Tejido: A mano</label>
            <label class="detalle">Armado: Armado</label>
            <label class="detalle">Material: Hilo AXP</label>
            <label class="detalle">Material Base: ASP Alpaca</label>
        </div>
    </div>
</section>

<section class="material">
    <div class="contenedor-info">
        <div class="contenedor-img">
            <img src="https://m.media-amazon.com/images/I/71LmKiQ2t9L._AC_UF894,1000_QL80_.jpg" alt="Producto" class="img-producto">
        </div>
        <div class="info-material">
            <h1 class="nombre-material">Hilo AXP</h1>
            <label class="material-info">Color: Negro</label>
            <label class="material-info">Hebras: 2/16</label>
        </div>
    </div>
</section>

<section class="material-base">
    <div class="contenedor-info">
        <div class="contenedor-img">
            <img src="https://www.shutterstock.com/image-photo/alpaca-against-white-background-600nw-127119797.jpg" alt="Producto" class="img-producto">
        </div>
        <div class="info-material">
            <h1 class="nombre-material">ASP Alpaca</h1>
            <label class="material-info">Descripcion: Alpaca</label>
        </div>
    </div>
</section>
