@{
    Layout = "/Views/Shared/_LayoutClientes.cshtml";
    ViewData["Title"] = "Inicio";
}

@section Head {
    <link rel="stylesheet" href="~/css/Home/Index.css"/>
}

<!-- Descripcion -->
<div class="contenedor">
    <div class="description">
        <p>
            En Maki Yumpu, nos dedicamos
            a crear prendas personalizadas
            para satisfacer las necesidades
            únicas de nuestros clientes.
        </p>
    </div>
</div>

<!-- Coleccion Clientes -->
<a id="coleccion"></a>
<section class="seccion-2">
    <h1 class="coleccion-clientes">Coleccion de nuestros clientes</h1>
    <div class="contenedor-2">
        <div class="tarjeta">
            <figure>
                <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="produto-img">
                <div class="contenido">
                    <h3>Nombre Producto</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde numquam
                        doloremque laboriosam, placeat quam corporis iste eveniet fuga et illo?
                    </p>
                    <a href="#">Ver Detalles</a>
                </div>
            </figure>
        </div>
        <div class="tarjeta">
            <figure>
                <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="produto-img">
                <div class="contenido">
                    <h3>Nombre Producto</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde numquam
                        doloremque laboriosam, placeat quam corporis iste eveniet fuga et illo?
                    </p>
                    <a href="#">Ver Detalles</a>
                </div>
            </figure>
        </div>
        <div class="tarjeta">
            <figure>
                <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="produto-img">
                <div class="contenido">
                    <h3>Nombre Producto</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde numquam
                        doloremque laboriosam, placeat quam corporis iste eveniet fuga et illo?
                    </p>
                    <a href="#">Ver Detalles</a>
                </div>
            </figure>
        </div>
        <div class="tarjeta">
            <figure>
                <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="produto-img">
                <div class="contenido">
                    <h3>Nombre Producto</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde numquam
                        doloremque laboriosam, placeat quam corporis iste eveniet fuga et illo?
                    </p>
                    <a href="#">Ver Detalles</a>
                </div>
            </figure>
        </div>
        <div class="tarjeta">
            <figure>
                <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="produto-img">
                <div class="contenido">
                    <h3>Nombre Producto</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde numquam
                        doloremque laboriosam, placeat quam corporis iste eveniet fuga et illo?
                    </p>
                    <a href="#">Ver Detalles</a>
                </div>
            </figure>
        </div>
        <div class="tarjeta">
            <figure>
                <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/09/25/15694089246993.jpg" alt="Producto" class="produto-img">
                <div class="contenido">
                    <h3>Nombre Producto</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde numquam
                        doloremque laboriosam, placeat quam corporis iste eveniet fuga et illo?
                    </p>
                    <a href="#">Ver Detalles</a>
                </div>
            </figure>
        </div>
    </div>
</section>
