@{
    Layout = "/Views/Shared/_LayoutClientes.cshtml";
}

@section Head {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Home/PedidoCliente.css" asp-append-version="true" />
}

<section class="fondo-form">
    <form asp-action="PedidoCliente" class="formulario-container">
        <div class="caja-pedido">
            <div class="form">
                <h1 class="form-titulo">Realiza tu Pedido</h1>
                <div class="info-pedido">
                    <label name ="NombreCompletoCliente">Nombre Completo</label>
                    <input name="NombreCompletoCliente" type="text" id="nombre-completo-cliente" placeholder="Ingrese su nombre completo" class="inputs" />
                </div>
                <div class="info-pedido">
                    <label name="CorreoCliente">Correo</label>
                    <input name="CorreoCliente" type="email" id="correo-cliente" placeholder="Ingrese su correo electronico" class="inputs" />
                </div>
                <div class="info-pedido">
                    <label name="PaisCliente">Pais</label>
                    <!-- <input name="PaisCliente" type="text" id="pais-cliente" placeholder="Ingrese su pais" class="inputs" /> -->
                    <div id="pais-container">
                        <select name="PaisCliente" style="width: 100%;" asp-items="ViewBag.Paises"></select>
                    </div>
                </div>
                <div class="info-pedido">
                    <label>Prenda</label>
                    <input type="text" id="desc-prenda" placeholder="Ingrese la prenda" class="inputs" />
                </div>
                <div class="info-pedido">
                    <label>Cantidad</label>
                    <input type="number" step="1" id="cantidad-prenda" placeholder="Ingrese la cantidad" class="inputs" />
                </div>
                <div class="info-pedido">
                    <label>Descripción detallada</label>
                    <textarea id="desc-detallada-prenda" placeholder="Ingrese los detalles" class="inputs"></textarea>
                </div>
                <div class="btn-container">
                    <button class="btn" id="btn-agregar">Agregar</button>
                    <button type="submit" class="btn" id="btn-finalizar">Finalizar</button>
                </div>
            </div>
            <div class="detalles">
                <h1 class="form-titulo-tabla">Pedidos Realizados</h1>
                <table class="table" id="tabla-pedido">
                    <thead>
                        <tr>
                            <th>Prenda</th>
                            <th>Descripción detallada</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(() => {
            let detalleCount = 0;

            $("#btn-agregar").on("click", (e) => {
                e.preventDefault();
                $("#tabla-pedido > tbody").append(
                    $("<tr>").append(
                        $("<td>").append(
                            $("<input>").attr("type", "text").attr("name", "detalles[" + detalleCount + "].DescPrenda").addClass("form-control").val($("#desc-prenda").val())
                        ),
                        $("<td>").append(
                            $("<input>").attr("type", "text").attr("name", "detalles[" + detalleCount + "].DetallesPrenda").addClass("form-control").val($("#desc-detallada-prenda").val())
                        ),
                        $("<td>").append(
                            $("<input>").attr("type", "number").attr("name", "detalles[" + detalleCount + "].CantidadPrenda").addClass("form-control").val($("#cantidad-prenda").val())
                        )
                    )
                );

                $("#desc-prenda").val("");
                $("#desc-detallada-prenda").val("");
                $("#cantidad-prenda").val("");
                $("#desc-prenda").focus();

                detalleCount++;
            });

            $("select").select2();
        });
    </script>
}