@model MakiYumpuSAC.Models.MaterialBase

@{
    ViewData["Title"] = "Material Base";
}

<h4>Nuevo Material Base</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoMaterial" class="control-label">Código</label>
                <input asp-for="CodigoMaterial" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DescMaterial" class="control-label">Descripción</label>
                <input asp-for="DescMaterial" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="module">
        import toastMessage from '/js/toastMessage.js';

        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "@ViewBag.ErrorMessage";

            if (errorMessage) {
                toastMessage(errorMessage);
            }
        });
    </script>
}