@model MakiYumpuSAC.Models.MaterialBase

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Material Base</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMaterialBase" />
            <div class="form-group">
                <label asp-for="CodigoMaterial" class="control-label">Código</label>
                <input asp-for="CodigoMaterial" class="form-control" />
                <sp
            <div class="form-group">
                <label asp-for="DescMaterial" class="control-label"></label>
                <input asp-for="DescMaterial" class="form-control" />
                <span asp-validation-for="DescMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="module">
        import toastMessage from '/js/toastMessage.js';

        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "@ViewBag.ErrorMessage";

            if (errorMessage) {
                toastMessage(errorMessage);
            }
        });
    </script>
}