@using Microsoft.CodeAnalysis.Scripting
@model MakiYumpuSAC.Models.Cliente

@{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    ViewData["Title"] = "Create";
}

@section Head {
    <style>
        #pais-container {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 22px;
        }
    </style>
}

<h4>Crear Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCompletoCliente" class="control-label">Nombre Completo</label>
                <input asp-for="NombreCompletoCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CorreoCliente" class="control-label">Correo</label>
                <input asp-for="CorreoCliente" class="form-control" type="email"/>
            </div>
            <div class="form-group">
                <label asp-for="PaisCliente" class="control-label">País</label>
                <div id="pais-container">
                    <select asp-for="PaisCliente" style="width: 100%;" asp-items="ViewBag.Paises"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="module">
        import toastMessage from '/js/toastMessage.js';

        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "@ViewBag.ErrorMessage";

            errorMessage && toastMessage(errorMessage, "error");
        });
    </script>
    <script>
        $(document).ready(() => {
            $("select").select2();
            });
    </script>
}
