﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_LayoutClientes.cshtml";
}

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    Iniciar Sesión
                </div>
                <div class="card-body">
                    <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">
                        <input name="login" class="form-control mb-3" type="text" placeholder="Usuario" required />
                        <input name="password" class="form-control mb-3" type="password" placeholder="Contraseña" required />
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>