@{
    Layout = "/Views/Shared/_LayoutClientes.cshtml";
}

@section Head {
    <link rel="stylesheet" href="~/css/Home/IniciarSesion.css" asp-append-version="true" />
}

<section>
    <div class="contenedor">
        <div class="formulario">
            <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">
                <h2>Iniciar Sesión</h2>
                <div class="input-contenedor">
                    <i class="bi bi-envelope"></i>
                    <input name="login" class="form-control mb-3" type="text" required />
                    <label for="#">Usuario</label>
                </div>
                <div class="input-contenedor">
                    <i class="bi bi-lock"></i>
                    <input name="password" class="form-control mb-3" type="password" required />
                    <label for="#">Contraseña</label>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</section>